/* General Styling */
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 90vw;
    overflow-x: hidden;
    margin: auto;
}

/* ------HEADER & MAIN STYLES-------*/

.header-container {
	height: 25vh;
	background-color: rgb(240, 14, 14);
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: 10px;
	padding: 3rem 3rem 0 3rem;
}

.title {
	display: flex;
	flex-direction: column;
	height:fit-content;
    margin: auto;
    text-align: center;
}

.title>h1 {
    justify-content: center;
	color: white;
	font-weight: 700;
}


.team-name {
    position: absolute;
	top: 0;
	left: 20px;
	justify-content: flex-start;
    color: white;
}

.div-rules{
    position: absolute;
    top: 0;
    right: 40px;
    margin-right: 20px;
}

.div-rules {
	position: absolute;
	bottom: 0;
	right: 0;
	justify-content: flex-end;
}

a#btn-clickme.btn {
	color: var(--color-light);
	background-color: var(--color-blue);
	display: flex;
    
	border-radius: 0;
	font-size: 2vmax;
	font-weight: 500;
	padding: .5rem;
}

a#btn-clickme:hover {
	color: var(--color-yellow);
	transition: .5s ease-in-out;
} 


#rock {
    background: url(/assets/images/rock.png) no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

#paper {
    background: url(/assets/images/paper.png) no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

#lizard {
    background: url(/assets/images/lizard.png) no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

#scissors {
    background: url(/assets/images/scissors.png) no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

#spock {
    background: url(/assets/images/spock.png) no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 160px;
    margin: 5px;
    border-radius: 80px;
    border: none;
    cursor: pointer;
}

#rock:hover {
    border: 5px solid rgb(184, 21, 21);
}

#paper:hover {
    border: 5px solid rgb(184, 21, 21);
}
#lizard:hover {
    border: 5px solid rgb(184, 21, 21);
}
#scissors:hover {
    border: 5px solid rgb(184, 21, 21);
}
#spock:hover {
    border: 5px solid rgb(184, 21, 21);
}

#choose-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    text-align: center;
}

/* ------GAME AREA-------*/

.result-section {
display: flex;
justify-content: center;
}

#result > p {
    text-align: center;
    height: auto;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}



#player-image {
    border: 2px solid black;
    border-radius: 80px;
    margin: 0 10px 0 10px;
    height: 160px;
    width: 160px;
}

#computer-image {


    align-content: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 80px;
    margin: 0 10px 0 10px;
    height: 160px;
    width: 160px;
}

#game-area{
margin: auto;
display: flex;
justify-content: center;
text-align: center;
}

#reset-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* ------SCORE STYLING-------*/

.score {
    margin: 0 5px 0 20px;
}

@media screen and (max-width: 700px) {
    .title>h4, .team-name {
      display: none;
    }
}